@font-face {
  font-family: "BasisGrotesquePro";
  src: url("./fonts/BasisGrotesquePro-Regular.eot");
  src: url("./fonts/BasisGrotesquePro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BasisGrotesquePro-Regular.woff2") format("woff2"), url("fonts/BasisGrotesquePro-Regular.woff") format("woff"), url("fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "BasisGrotesquePro";
  src: url("./fonts/BasisGrotesquePro-Bold.eot");
  src: url("./fonts/BasisGrotesquePro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BasisGrotesquePro-Bold.woff2") format("woff2"), url("fonts/BasisGrotesquePro-Bold.woff") format("woff"), url("fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "BasisGrotesquePro";
  src: url("./fonts/BasisGrotesquePro-Light.eot");
  src: url("./fonts/BasisGrotesquePro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/BasisGrotesquePro-Light.woff2") format("woff2"), url("fonts/BasisGrotesquePro-Light.woff") format("woff"), url("fonts/BasisGrotesquePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "BasisGrotesquePro";
  src: url("./fonts/BasisGrotesquePro-Medium.eot");
  src: url("./fonts/BasisGrotesquePro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BasisGrotesquePro-Medium.woff2") format("woff2"), url("fonts/BasisGrotesquePro-Medium.woff") format("woff"), url("fonts/BasisGrotesquePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: fallback;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
a {
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

body {
  font-family: "BasisGrotesquePro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000;
}

.container {
  width: 100%;
}

.h3-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.h3-title_blue,
.text_blue {
  color: #0536FC;
  opacity: 0.9;
}

.title__tagline {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 111%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 430px;
}

.title__tagline_h1 {
  font-size: 57px;
  line-height: 104%;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  opacity: 0.6;
}
.text_light {
  font-weight: 300;
  opacity: 0.35;
}
.text_buttoned {
  color: #ffffff;
  opacity: 1;
  text-transform: uppercase;
}
.text_menu {
  text-transform: uppercase;
  opacity: 0.85;
}

.title {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
.title_left {
  padding-left: 29.16%;
  /* 210px */
}
.title__name {
  padding-bottom: 30px;
}
.title__tagline {
  padding-bottom: 70px;
}
.title__text {
  max-width: 325px;
}

.section {
  width: 100%;
  display: grid;
  grid-template-areas: "i ." ".f";
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
}
.section__title {
  grid-area: i;
}
.section__content {
  grid-area: f;
}

.faq-list {
  padding-right: 50px;
  padding-left: 50px;
}

.faq {
  max-width: 456px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 30px;
  padding-bottom: 70px;
}
.faq__heading {
  display: block;
  cursor: pointer;
  position: relative;
  padding-right: 35px;
}
.faq__heading:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(./img/faq_plus_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.faq__text {
  display: none;
  padding-top: 70px;
  max-width: 455px;
  padding-right: 35px;
}
.faq__input {
  appearance: none;
  position: absolute;
  width: 0;
  height: 0;
}
.faq__input:checked ~ .faq__text {
  display: block;
}
.faq__input:checked ~ .faq__heading:after {
  content: "";
  display: block;
  width: 15px;
  height: 1.4px;
  background-image: url(./img/faq_minus_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  right: 0;
}

.heading-wrapper {
  display: inline-block;
  max-width: 365px;
}

@media screen and (max-width: 1315px) {
  .title {
    gap: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
  }
  .title__name {
    padding-bottom: 15px;
  }
  .title__tagline {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 735px) {
  .section {
    width: 100%;
    display: grid;
    grid-template-areas: "i" "f";
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }
  .section__title {
    grid-area: i;
  }
  .section__content {
    grid-area: f;
    justify-self: end;
  }
  .title__tagline {
    padding-bottom: 50px;
  }
  .title__text {
    padding-bottom: 20px;
  }
}