@import "_fonts";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
a {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    color: inherit;

}

body {
    font-family: 'BasisGrotesquePro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;

}

.container {
    width: 100%;
}

// text decoration

.h3-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    opacity: 0.9;
}

.h3-title_blue,
.text_blue {
    color: #0536FC;
}

.title__tagline {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 111%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 430px;
}

.title__tagline_h1 {
    font-size: 57px;
    line-height: 104%;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    opacity: 0.6;

    &_light {
        font-weight: 300;
        opacity: 0.35;
    }

    &_buttoned {
        color: #ffffff;
        opacity: 1;
        text-transform: uppercase;
    }

    &_menu {
        text-transform: uppercase;
        opacity: 0.85;
    }
}

.title {
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    &_left {
    padding-left: 29.16%;
    /* 210px */}
    &__name {
    padding-bottom: 30px;
}

    &__tagline {
    padding-bottom: 70px;
}

    &__text {
    max-width: 325px;
}
}

// Grid

.section {
    
    width: 100%;
    display: grid;
    grid-template-areas: "i ."
                        ".f";
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    &__title {
    grid-area: i;
}
    &__content {
    grid-area: f;
    position: relative;
}
}

.faq {
    width: 456px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
}


// Mobile

@media screen and (max-width: 1315px) {
    .title {
        gap: 50px;
        padding-left: 50px;
        padding-top: 50px;
        padding-right: 50px;
    }


    .title__name {
        padding-bottom: 15px;
    }

    .title__tagline {
        padding-bottom: 50px;
    }
}





